<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
        {{template "head"}}                                    
        <body>
           <div id="updateDiv">
                {{template "sidebar" .}}
                {{template "topbar" .}}
                <!-- {{template "auth" }} -->
                {{template "stream" .}}
                {{template "footer" .}}
           </div>
        </body>
</html>

